---
http_interactions:
- request:
    method: get
    uri: http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-05&format=geojson&minmagnitude=0&starttime=2016-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 05 Sep 2016 16:54:26 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"type":"FeatureCollection","metadata":{"generated":1473094466000,"url":"http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-05&format=geojson&minmagnitude=0&starttime=2016-09-03","title":"USGS Earthquakes","status":200,"api":"1.5.2","count":534},"features":[{"type":"Feature","properties":{"mag":0.6,"place":"96km WNW of Cantwell, Alaska","time":1473032782000,"updated":1473032937687,"tz":-480,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/ak13907728","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ak13907728&format=geojson","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"automatic","tsunami":0,"sig":6,"net":"ak","code":"13907728","ids":",ak13907728,","sources":",ak,","types":",general-link,geoserve,origin,","nst":6,"dmin":0.03323767,"rms":0.08,"gap":133.199989344,"magType":"ml","type":"earthquake","title":"M 0.6 - 96km WNW of Cantwell, Alaska"},"geometry":{"type":"Point","coordinates":[-150.8499,63.5506,14]},"id":"ak13907728"},
        {"type":"Feature","properties":{"mag":3.2,"place":"89km N of Culebra, Puerto Rico","time":1473032187800,"updated":1473034789040,"tz":-240,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/pr16248043","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=pr16248043&format=geojson","felt":1,"cdi":2,"mmi":null,"alert":null,"status":"REVIEWED","tsunami":0,"sig":158,"net":"pr","code":"16248043","ids":",pr16248043,us10006kea,","sources":",pr,us,","types":",cap,[...]
