---
http_interactions:
- request:
    method: get
    uri: http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-03&format=geojson&minmagnitude=7&starttime=2016-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 05 Sep 2016 22:11:46 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"type":"FeatureCollection","metadata":{"generated":1473113506000,"url":"http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-03&format=geojson&minmagnitude=7&starttime=2016-08-01","title":"USGS Earthquakes","status":200,"api":"1.5.2","count":4},"features":[{"type":"Feature","properties":{"mag":7.1,"place":"166km NE of Gisborne, New Zealand","time":1472747877790,"updated":1472931548362,"tz":720,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/us10006jbi","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us10006jbi&format=geojson","felt":289,"cdi":4.9,"mmi":6.38,"alert":"green","status":"reviewed","tsunami":1,"sig":917,"net":"us","code":"10006jbi","ids":",at00ocu3ja,pt16245050,us10006jbi,gcmt20160901163757,","sources":",at,pt,us,gcmt,","types":",cap,dyfi,finite-fault,general-link,general-text,geoserve,impact-link,impact-text,losspager,moment-tensor,origin,phase-data,poster,shakemap,","nst":null,"dmin":3.936,"rms":0.99,"gap":68,"magType":"mww","type":"earthquake","title":"M 7.1 - 166km NE of Gisborne, New Zealand"},"geometry":{"type":"Point","coordinates":[179.0548,-37.401,19]},"id":"us10006jbi"},
        {"type":"Feature","properties":{"mag":7.1,"place":"North of Ascension Island","time":1472444997940,"updated":1472761262975,"tz":-60,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/us20006uy6","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us20006uy6&format=geojson","felt":7,"cdi":3.4,"mmi":0,"alert":"green","status":"reviewed","tsunami":1,"sig":778,"net":"us","code":"20006uy6","ids":",at00ocnltz,us20006uy6,gcmt20160829042957,","sources":",at,us,g[...]
[...]
