---
http_interactions:
- request:
    method: get
    uri: http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-02&format=geojson&minmagnitude=0&starttime=2016-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 05 Sep 2016 19:48:35 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"type":"FeatureCollection","metadata":{"generated":1473104915000,"url":"http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-02&format=geojson&minmagnitude=0&starttime=2016-09-01","title":"USGS Earthquakes","status":200,"api":"1.5.2","count":265},"features":[{"type":"Feature","properties":{"mag":2.1,"place":"44km WNW of Talkeetna, Alaska","time":1472774182000,"updated":1472774498960,"tz":-480,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/ak13890794","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ak13890794&format=geojson","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"automatic","tsunami":0,"sig":68,"net":"ak","code":"13890794","ids":",ak13890794,","sources":",ak,","types":",general-link,geoserve,origin,","nst":54,"dmin":0.299139,"rms":0.52,"gap":25.199997984,"magType":"ml","type":"earthquake","title":"M 2.1 - 44km WNW of Talkeetna, Alaska"},"geometry":{"type":"Point","coordinates":[-150.8724,62.5074,74.2]},"id":"ak13890794"},
        {"type":"Feature","properties":{"mag":1.6,"place":"7km SE of Ponce, Puerto Rico","time":1472774109500,"updated":1472790577963,"tz":-240,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/pr16245013","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=pr16245013&format=geojson","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"REVIEWED","tsunami":0,"sig":39,"net":"pr","code":"16245013","ids":",pr16245013,","sources":",pr,","types":",cap,geoserve,or[...]
