---
http_interactions:
- request:
    method: get
    uri: http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-06&format=geojson&minmagnitude=0&starttime=2016-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Sep 2016 21:59:38 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"type":"FeatureCollection","metadata":{"generated":1473199178000,"url":"http://earthquake.usgs.gov/fdsnws/event/1/query?endtime=2016-09-06&format=geojson&minmagnitude=0&starttime=2016-09-05","title":"USGS Earthquakes","status":200,"api":"1.5.2","count":210},"features":[{"type":"Feature","properties":{"mag":0.87,"place":"9km ENE of Ocotillo Wells, CA","time":1473119394050,"updated":1473119608855,"tz":-420,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/ci37470319","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37470319&format=geojson","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"automatic","tsunami":0,"sig":12,"net":"ci","code":"37470319","ids":",ci37470319,","sources":",ci,","types":",general-link,geoserve,nearby-cities,origin,phase-data,scitech-link,","nst":18,"dmin":0.1791,"rms":0.25,"gap":111,"magType":"ml","type":"earthquake","title":"M 0.9 - 9km ENE of Ocotillo Wells, CA"},"geometry":{"type":"Point","coordinates":[-116.041,33.1791667,6.02]},"id":"ci37470319"},
        {"type":"Feature","properties":{"mag":4.3,"place":"162km ESE of Nikol'skoye, Russia","time":1473118688080,"updated":1473119677040,"tz":720,"url":"http://earthquake.usgs.gov/earthquakes/eventpage/us10006kqj","detail":"http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us10006kqj&format=geojson","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"reviewed","tsunami":0,"sig":284,"net":"us","code":"10006kqj","ids":",us10006kqj,","sources":",us,","types":",cap,geoserv[...]
